{% extends 'employee/base.html' %}
{% load polls_extras %}

{% block content %}

<h1>{{title}}</h1>
<table>
    {% for user in users %}
    <td>
        <tr>{{user.first_name}} &nbsp; <a href="{% url 'employee:emp_edit' user.id %}">Edit</a> &nbsp;<a
                href="{% url 'employee:emp_delete' user.id%}">Delete</a></tr>
    </td><br>
    {% endfor %}
    <td>
        {% recent_polls as questions %}
        <h3>Question Set</h3>
        <tr>
            {% if questions %}
            {% for question in questions %}
            <a href="{% url 'poll:polls-details' question.id %}">
                {{question.title}}
            </a><br>
            {% endfor %} </tr>
        {% endif %}
    </td>

    {{"ashlin karkada is working for firstrand"|truncatewords:3}}
</table>
{% endblock %}